@{
    Layout = null;
}
@model int;

    <div class="modal fade" tabindex="-1" id="editModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <p>@Model</p>
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="Edit Title" id="inputTitle" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="Edit Description 1" id="inputDescription1" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="Edit Description 2" id="inputDescription2" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary button button4">Save</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary button button4">Cancel</button>
                </div>
            </div>
        </div>
    </div>